{% extends 'home.html' %} 


{% block contact %}

<br>
<br>
<br>

<div class="container text-center">
  <div class="row">
    <div class="col" style="padding: 30px;">
      <form>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" name="fullname"
            >Name</label
          >
          <input
            type="name"
            class="form-control"
            id="Name"
            name="fullname"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="emailadd"
            required
          />
          {% comment %} <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> {% endcomment %}
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input
            type="Number"
            class="form-control"
            id="exampleInputPassword1"
            name="ph"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Address</label>
          <input
            type="stringformat"
            class="form-control"
            id="exampleInputPassword1"
            name="address"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Message</label>
          <input
            type="stringformat"
            class="form-control"
            id="exampleInputPassword1"
            name="msg"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.934507763316!2d77.48889607549528!3d28.48151892574754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce8ba81555555%3A0x738ac1a025bee778!2sIIMT%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1690890521985!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>


  </div>
</div>

<br>
<br>
<br>
<br>

{% endblock contact %}
